.modal_container {
  position: absolute;
  top: 5%;
  left: 25%;
  bottom: auto;
  right: auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.25);
  background-color: white;
  border-radius: 8px;
  border: none;
  width: 50vw;
  outline: none;
}

.modal_elements {
  display: flex;
  height: 75vh;
  flex-direction: column;
  flex-wrap: wrap;
  // justify-content: center;
  align-items: center;

}
